@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Quicksand:wght@600&display=swap');

:root{
    --Playfair: 'Playfair Display', serif;
    --Quicksand: 'Quicksand', sans-serif;
    --Roboto: 'Roboto', sans-serif;
    --dark : #2c2c2c;
    --exDark: #2b2b2b;
}


/* ROOT DESIGN */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--Quicksand);
}

body{
    color: var(--dark);
    line-height: 1.4;
}

img{
    max-width: 100%;
    display: block;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


/* ROOT ENDS */


/* HEADER STARTS */

header{
    background: linear-gradient(rgba(0,0,0,0.4), 
    rgba(0,0,0,0.4)), 
    url("/static/images/bg.jpg")
    center/cover no-repeat fixed;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    margin-bottom: 3rem;
}

.navbar{
    background: rgba(0,0,0,0.6);
    padding:20px;
}

.logo-brand{
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
    text-align: center;
    display: block;
    letter-spacing: 2px;
}

.navbar-nav{
    padding: 0.8rem 0 0.2rem 0;
    text-align: center;
    letter-spacing: 2px;
}

.navbar-nav a{
    text-transform: uppercase;
    font-family: var(--Roboto);
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
    padding: 0.8rem 1rem;
    display: inline-block;
    transition: opacity 0.2s ease-in-out;
}

.navbar-nav a:hover{
    opacity: 0.7;
    text-decoration: underline;
}



/* HEADER ENDS */

.main-blog{
    margin-bottom: 5rem;
}
.blog-img{
    margin-top: 2rem;
    width: 1050px;
    height: 80;
    margin: 0 auto;
    display: block;
    position: relative;
}


.blog-title{
    margin-top: 2rem;
    width: 950px;
    margin: 0 auto;
    display: block;
    position: relative;
    padding: 3rem 0;
    text-align: center;
    margin-bottom: 2rem;
}

.blog-title h2{
    font-size: 2.5rem;
    font-family: var(--Playfair);
    color: var(--dark);
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1rem;
}

.blog-title table{
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 2px;
    border-collapse: collapse;
    border-spacing: 10px;
}

.blog-title table td {
    padding-top: .5em;
    padding-bottom: .5em;
}


.blog-new{
    margin-top: 10rem;
    background: #fff;
}


/* ABOUT SECTION */
.about{
    margin-top: 5rem;
    width: 900px;
    height: 80;
    margin: 0 auto;
    display: block;
}

.about-text{
    margin:2rem 0;
}

.title{
    text-align: center;
    padding: 2rem 0;
}


.about-text h2{
    font-family: var(--Playfair);
    font-size: 2.4rem;
    font-weight: 600;
    text-transform: uppercase;
}
.about-text p{
    text-align: center;
    text-transform: capitalize;
    font-size: 1.3rem;
}


/* Footer */

footer{
    background: var(--dark);
    color: #fff;
    padding: 2rem 0;
    text-align: center;
    margin: auto 0;
}

.social{
    display: flex;
    justify-content: center;
    gap:2rem;
    margin-bottom: 1.4rem;
}


.social a i{
    font-size: 1.5rem;
    color: #fff;
    transition: all 0.5s ease;
}
/* BLOG DESIGN ENDS */


@media screen and (min-width: 540px){
    .navbar-nav a{
        padding-right: 1.2rem;
        padding-left: 1.2rem;
    }

    .banner-title{
        font-size: 5rem;
    }

    .banner form{
        margin-top: 1.4rem;
        width:80%;
        margin-left:auto;
        margin-right:auto;
    }
}

@media screen and (min-width: 768px){
    .navbar .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .search-input{
        padding: 0.8rem 0;
    }
    .content-project{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap:2rem;
    }

    .blog-content{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
    }
}

/* @media screen and (min-width: 992px){
    .blog-content{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 2rem;
    }
} */