{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/blogs.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Guna's Blog</title>
</head>
<body>
    <!-- HEADER STARTS -->
    <header>
        <nav class="navbar">
            <div class="container">
                <a href="" class="logo-brand">GUNALAN D</a>

                <div class="navbar-nav">
                    <a href="">HOME</a>
                    <a href="">PROJECTS</a>
                    <a href="">BLOGS</a>
                    <a href="">CONTACT ME</a>
                    <a href="">ABOUT ME</a>
                </div>
            </div>
        </nav>

        <div class="banner">
            <div class="container-banner">
            <h1><span>Guna's</span> Blog</h1>
            <p>Everything that you want to know about python </p>

            <form class="kd" action="">
                <input type="text" class="search-input" placeholder="search">
                <button type="submit" class="search-btn">
                    <i class="fas fa-search"></i></button>
            </form>
            </div>
        </div>
    </header>
    <!-- HEADER ENDS -->

    <!-- PROJECT STARTS -->
        <section class="project" id="project">
            <div class="container">
                <div class="title">
                    <h2>Recent Works and Projects</h2>
                    <p>Recent Works and Projects on the Blog!</p>
                </div>


                <div class="content-project">
                    <!--    item starts -->
                    <div class="project-item">
                        <div class="project-img">
                            <img src="{% static 'images/dum.jpg' %}" alt="">
                            <span><i class="fa fa-heart"> 21</i></span>
                            <span><i class="fab fa-python"></i>
                            </span>
                        </div>
                        <div class="project-info">
                            <h3>Blog App</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quaerat!</p>
                            <a href="">View Project</a>
                        </div>
                    </div>
                    <!--    item ends -->
                    <!--    item starts -->
                    <div class="project-item">
                        <div class="project-img">
                            <img src="{% static 'images/5.png' %}" alt="">
                            <span><i class="fa fa-heart"> 11</i></span>
                            <span><i class="fab fa-python"></i>
                        </div>
                        <div class="project-info">
                            <h3>Blog App</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quaerat!</p>
                            <a href="">View Project</a>
                        </div>
                    </div>
                    <!--    item ends -->
                    <!--    item starts -->
                    <div class="project-item">
                        <div class="project-img">
                            <img src="{% static 'images/6.png' %}" alt="">
                            <span><i class="fa fa-heart"> 22</i></span>
                            <span><i class="fab fa-python"></i>
                        </div>
                        <div class="project-info">
                            <h3>Blog App</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quaerat!</p>
                            <a href="">View Project</a>
                        </div>
                    </div>
                    <!--    item ends -->
                    <!--    item starts -->
                    <div class="project-item">
                        <div class="project-img">
                            <img src="{% static 'images/7.png' %}" alt="">
                            <span><i class="fa fa-heart"> 44</i></span>
                            <span><i class="fab fa-python"></i>
                        </div>
                        <div class="project-info">
                            <h3>Blog App</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quaerat!</p>
                            <a href="">View Project</a>
                        </div>
                    </div>
                    <!--    item ends -->
                    <!--    item starts -->
                    <div class="project-item">
                        <div class="project-img">
                            <img src="{% static 'images/8.png' %}" alt="">
                            <span><i class="fa fa-heart"> 32</i></span>
                            <span><i class="fab fa-python"></i>
                        </div>
                        <div class="project-info">
                            <h3>Blog App</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quaerat!</p>
                            <a href="">View Project</a>
                        </div>
                    </div>
                    <!--    item ends -->
                </div>
            </div>
        </section>

        

                    <!-- BLOG STARTS -->
                    <section class="blog" id="blog">
                        <div class="container">
                            <div class="title">
                                <h2>Latest Blogs</h2>
                                <p>recent blogs of mine</p>
                            </div>
                            {% for i in n %}
                               <div class="blog-content">
                                {% for blog in blogs %}
                                
                                <div class="blog-item">
                                    <div class="blog-img">
                                        {% if blog.blog_image %}
                                        <img src="{{ blog.blog_image.url }}">
                                        {% endif %}
                                        <span><i class="fa fa-heart"></i></span>
                                    </div>
                                </div>
                                <div class="blog-text">
                                    <span>{{blog.created_at}}<span>
                                        <h2>{{blog.title}}</h2>
                                        <p>{{blog.body}}</p>
                                        <a href="{% url 'blog' blog.id %}">Read More</a>                          
                                </div>
                                {% endfor %}
                            </div>
                            {% endfor %}
                        </div>
                    </section>
                    <!-- BLOG ENDS -->


    <!-- PROJECT ENDS -->

                        <!-- ABOUT STARTS -->

                    <section class="about" class="about">
                        <div class="container">
                            <div class="about-content">
                                <div>
                                    <img src="{% static 'images/about-me.png' %}" alt="">
                                </div>

                                <div class="about-text">
                                    <div class="title">
                                        <h2>Gunalan D</h2>
                                        <p>Python Developer</p>
                                    </div>
                                    <p>Hello! I'm Gunalan, a odoo developer, a python enthusiast, and a guy slighty obsessed for code quality.I am currently open to exploring new opportunities. If you have a role that my matches with my profile, then get in touch.</p>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- ABOUT ENDS -->

                    <!-- SOCIAL LINKS STARTS -->

                    <footer>
                    <div class="social">
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-github"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                    </div>
                    <span>Gunalan's Blog</span>
                </footer>
                    <!-- SOCIAL LINKS ENDS -->
</body>
</html>