{% load static %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <title>CREATE BLOG </title>
</head>
<body>
    <div class="container">
        <h1> BLOGS </h1>
        <table>
            <thead>
                <tr>
                    <th>{{blog.title}}</th>
                </tr>
            </thead>
            <div class="container">
                <div class="about-content">
                    <div>
                        {% if blog.blog_image %}
                    <img style="width: 500;height: 500;margin: 0 auto;"  src="{{ blog.blog_image.url }}">
                    {% endif %}
                    </div>
                </div>
            </div>
            <tbody>
                <tr>
                    <td>{{blog.created_at}}</td>
                    <td>{{blog.content}}</td>
                </tr>
            </tbody>
        
        </table>  
    </div>
    

 
</body>
</html>