{% extends "blog_app/layout.html" %}

{% block body %}


    <style>
        .form-group {
            margin-top: 40px;
            padding: 4rem;
        }

        .form-group form {
        display: grid;
        grid-template-columns: repeat(1, 1fr);



      /* Align items */
      justify-content: center;
      align-content: center;
      column-gap: 30px;
      row-gap: 30px;
        }

        .delete{
            border-radius: 5%;
            padding:0.5rem;
            background: aqua;
            color: black;
            font-size: 0.9rem;
            cursor: pointer;
        }
    </style>

        

    <div class="form-group">    
    <form method="POST">
        {% csrf_token %}

        {{ form.as_p }}
        <!-- add a delete button with are your sure? -->
        <h2>Are you Sure Wanna Delete This Blog?</h2>
        <input class="delete" type="submit" value="Delete">

    </form>
    </div>


{% endblock %}