{% extends "blog_app/layout.html" %}

{% block body %}


    <h1>DELETE THIS BLOG</h1>
    <style>
        .form-group {
            margin-top: 40px;
            padding: 4rem;
        }

        .form-group form {
        display: grid;
      grid-template-columns: repeat(1, 1fr);



      /* Align items */
      justify-content: center;
      align-content: center;
      column-gap: 30px;
      row-gap: 30px;
        }
    </style>

        

    <div class="form-group">    
    <form method="POST">
        {% csrf_token %}

        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>
    </div>


{% endblock %}